extends ../layouts/main-layout.pug

include ../_includes/sharedHTMLfunctions.pug

block styles

block content
  input(type="hidden", value=room._id, class="room-id")
  input(type="hidden", value=user._id, class="user-id")
  input(type="hidden", value=user.email, class="user-name")
  .section
    .container
      .row
        .mod-game.col-lg-7
          .container.align-items-center
            .row
              .col-lg-12.card.card-plain.game-table
                .card-header                
                  .text-center.question-title
                  .timer
                .card-body
                  .tab-content.game-screen
                .submit-awswer
                  button.btn.btn-success.d-none Trả lời                   
        .card.card-plain.game-table.col-lg-5
          .card
            .card-header
              ul.nav.nav-tabs.nav-tabs-primary(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#link5', role='tablist')
                    | Bảng xếp hạng
            .card-body
              // Tab panes
              .tab-content.tab-space        
                #link5.tab-pane.active.ranking
                  table.table
                    thead
                      tr
                        th(scope="col") #
                        th(scope="col") Đội
                        th(scope="col") Điểm
                    tbody
                      each connection in room.connections                      
                        tr
                          th(scope="row") *
                          td #{connection.user.email}
                          td #{connection.score} 
block scripts
  script.
    window.onload = function() {
       $(function(){app.game()});
    }