extends ../layouts/admin-layout.pug

include ../_includes/sharedHTMLfunctions.pug

block styles
  style.
    * { margin: 0; padding: 0; box-sizing: border-box; }
block content
  - var collectionId = null
  input(type="hidden", value=user._id, class="user-id")
  .section.section-tabs
    .container
      .row
        .col-7.question-list
          .title
            h3.mb-3 Question List
            // Button trigger modal
            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
              | Thêm câu hỏi
          .row.collection-container
            each round in room.rounds
              - if (round.isCurrentRound === true) {                  
                  - collectionId = round.collectionId._id;
                  each question in round.collectionId.questions
                    .col-md-12.ml-auto.col-xl-12.mr-auto
                      .card
                        .card-body
                          .tab-content
                            .tab-question
                              p
                              p
                              p
                              button.btn.btn-primary(id=question.questionId._id) Chi tiết
                              button.btn.btn-primary.send-question-button(id=question.questionId._id) Gửi câu hỏi
              - }
            
        .col-5
          .card
            .card-header
              ul.nav.nav-tabs.nav-tabs-primary(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#link4', role='tablist')
                    | Đội trả lời
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#link5', role='tablist')
                    | Bảng xếp hạng
            .card-body
              // Tab panes
              .tab-content.tab-space
                #link4.tab-pane.answer-team.active
                  table.table
                    thead
                      tr
                        th(scope="col") #
                        th(scope="col") Đội
                        th(scope="col") Time
                    tbody                    
                #link5.tab-pane.ranking
                  table.table
                    thead
                      tr
                        th(scope="col") #
                        th(scope="col") Đội
                        th(scope="col") Điểm
                    tbody
                      each connection in room.connections                      
                        tr
                          th(scope="row") *
                          td #{connection.user.email}
                          td #{connection.score}  
  // Modal
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        form(action="/admin/collection/" + collectionId, method="post")
          input(type="hidden", name="isUpdateQuestion", value="1")
          .modal-header
            h5#exampleModalLabel.modal-title Tạo câu hỏi
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body          
            .row
              .col-md-12
                .form-group
                  label Tựa đề#{collectionId}
                  input.form-control(type='text', class="text-dark", name="title")
            .row
              .col-md-12
                .form-group
                  label Nội Dung
                  input.form-control(type='text', class="text-dark", name="description")
            .row
              .col-md-12
                .form-group
                  label Số điểm
                  input.form-control(type='text', class="text-dark", name="score")
            .row
              .col-md-12
                .form-group
                  label Đáp án
                  input.form-control(type='text', class="text-dark", name="answer")
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') Tạo
block scripts
  script.
    window.onload = function() {
       $(function(){app.admin()});
    }