extends ../layouts/admin-layout.pug

include ../_includes/sharedHTMLfunctions.pug

block styles
  style.
    * { margin: 0; padding: 0; box-sizing: border-box; }
block content
  input(type="hidden", value=user._id, class="user-id")
  .section.section-tabs
    .container
      .row
        .col-7.question-list
          .title
            h3.mb-3 Question List
          .row.collection-container
          //- if questions.length > 0
          //-   each question in questions
          //-     .col-md-12.ml-auto.col-xl-12.mr-auto
          //-       .card            
          //-         .card-body
          //-           .tab-content
          //-             .tab-question
          //-               p #{question._id}
          //-               p #{question.title}
          //-               p #{question.description}
          //-               button.btn.btn-primary(id=question._id) Chi tiết
          //-               button.btn.btn-primary.send-question-button(id=question._id) Gửi câu hỏi
          //- else
          //-   h1 Không có phòng
        .col-5
          .mb-3
            small.text-uppercase.font-weight-bold With text
          // Tabs with Background on Card
          .card
            .card-header
              ul.nav.nav-tabs.nav-tabs-primary(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab', href='#link4', role='tablist')
                    | Đội trả lời
                li.nav-item
                  a.nav-link(data-toggle='tab', href='#link5', role='tablist')
                    | Bảng xếp hạng
            .card-body
              // Tab panes
              .tab-content.tab-space
                #link4.tab-pane.answer-team.active
                  table.table
                    thead
                      tr
                        th(scope="col") #
                        th(scope="col") Đội
                        th(scope="col") Time
                    tbody
                      tr
                        th(scope="row") 1
                        td Mark
                        td 31s
                      tr
                        th(scope="row") 1
                        td Mark
                        td 31s
                    
                #link5.tab-pane.ranking
                  table.table
                    thead
                      tr
                        th(scope="col") #
                        th(scope="col") Đội
                        th(scope="col") Điểm
                    tbody
                      tr
                        th(scope="row") 1
                        td Mark
                        td 91
block scripts
  script.
    window.onload = function() {
       $(function(){app.admin()});
    }